.create-employee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto 50px auto;
  border: 3px solid grey;
  border-radius: 5px;
  width: 60%;
  height: 100%;
  & .title-area {
    text-align: center;
  }
  & h1 {
    text-align: center;
    margin: 40px 0;
  }

  & a {
    padding: 10px;
    background-color: rgb(222, 220, 220);
    border-radius: 5px;
    color: green;
    &:hover {
      color: black;
    }
  }

  & h2 {
    margin: 50px 0 30px 0;
  }

  @media screen and (max-width: 576px) {
    border: none;
    & a {
      font-size: 12px;
    }
  }
}
